// Definindo thema de cores da aplicação
$orange-color: #ec6724;
$red-color: #ff2d2d;

// Tons da cor cinza
$gray-color-100: #f5f5f5;
$gray-color-200: #d9d9d9;
$gray-color-300: #aaaaaa;
$gray-color-600: #363636;
$gray-color-700: #1f1f1f;

$white-color: #ffffff;
$black-color: #000000;
